.bg-dark-main {
  background-color: rgba(0, 0, 0, .8) !important;

  &.btn:hover {
    transition: 0.2s ease-in;
    opacity: 0.6;
  }
}

.text-color-beige {
  color: #ede8e2 !important;
}

.border-beige {
  border-color: #ede8e2 !important;
}

.bg-beige-light {
  background-color: #f6f1eb;
}

.bg-white-beige {
  background-color: rgb(255, 252, 247) !important;
}

.text-dark-main {
  color: #333;
}

.link:hover {
  transition: 0.2s ease-in;
  opacity: 0.6;
}

.card {
  &.small {
    width: 19rem;
  }
}

.text-xs {
  font-size: 0.9rem;
}

.sticky-margin {
  top: 80px !important;
}

.item-photo {
  max-height: 150px;
  max-width: fit-content !important;
}

.item-card {
  max-height: 150px;
  width: 50vw;
  justify-self: center;
}

.fs-xxl {
  font-size: xx-large;
}

.check-out-btn {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
